<div class="container-fluid product-show">

<p id="notice"><%= notice %></p>

<div class="col-xs-12 col-md-7">
	<div class="row product_show">

		<p>
  		<strong>Name:</strong>
  		<%= @product.name %>
		</p>

		<p>
  		<strong>Description:</strong>
  		<%= @product.description %>
		</p>
		<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div>
		</p>

		<p>
  		<%= image_tag(@product.image_url, class: "img-responsive img-rounded") %>
		</p>

		<p>
			<strong>Price:</strong>
			<%= @product.price %>
		</p>

		<%= link_to 'Edit', edit_product_path(@product) %> |
		<%= link_to 'Back', products_path %>
	</div>
</div>

<div class="col-xs-8 col-md-5">
	<div class="row product_comment">
		<h3><span class="glyphicon glyphicon-equalizer">Reviews</span></h3>
		<%= render 'new_comment' %>
		<%= render 'comments' %>

		<%= will_paginate @comments %>
	</div>
</div>

</div>
